<div class="container hidden">

	<div class="col-xs-8">
		<h1>messages</h1>
		<ul>
			<li></li>
		</ul>
	</div>

	<div class="col-xs-4">
		<h1>users</h1>
		<ul>
			
		</ul>
	</div>
</div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippet content-wrapper" (window:resize)="onResize($event)">
    <div class="row">
		<div class="col-md-4 bg-white ">
            
            <!-- =============================================================== -->
            <!-- member list -->
            <ul class="friend-list">
                <li *ngFor="let u of users | values" class="bounceInDown {{getActiveRoom(getRoomId([u.id, user.id]))}}">
                	<a class="clearfix" (click)="selectRoom(getRoomId([u.id, user.id]))">
                		<div class="friend-name">	
                			<img src="{{getImage(u.photo)}}">
                            <strong>{{u.username}}</strong>
                		</div>
                        <span class="unread_messages" *ngIf="unreadMessages(getRoomId([u.id, user.id]))">{{unreadMessages(getRoomId([u.id, user.id]))}} unread messages</span>
                        <span class="float-right status-bullet {{u.status}}"></span>
                	</a>
                </li>

                <li *ngFor="let r of rooms | values" class="bounceInDown {{getActiveRoom(getRoomId(r.room_id.split(':')))}}">
                    <a class="clearfix">
                        <div class="friend-name" (click)="selectRoom(getRoomId(r.room_id.split(':')))">   
                            <strong>{{r.room_title}}</strong>
                        </div>
                        <span class="unread_messages" *ngIf="unreadMessages(r.room_id)">{{unreadMessages(r.room_id)}} unread messages</span>
                        <div class="actions" *ngIf="isOwner(r.owner)">
                            <button class="btn del" (click)="deleteRoom(r.room_id)">Delete</button>
                            <button class="btn add" (click)="prepareAddUserInRoom(r.room_id)">Edit</button>
                        </div>
                    </a>
                </li>
                   
                <li>
                    <button class="btn btn-block btn-default" (click)="prepareCreateGroup()">Create Group</button>
                </li>                         
            </ul>
		</div>
        
        <!--=========================================================-->
        <!-- selected chat -->
    	<div class="col-md-8 bg-white " *ngIf="showChat()">
            <div class="chat-message">
                <ul class="chat" [style.height.px]="chatHeight" ngx-auto-scroll lock-y-offset="10" observe-attributes>
                    <li *ngFor="let m of rooms[selected_room].messages | values" class="{{getDirection(m)}} clearfix">
                    	<div class="chat-body clearfix">
                    		<div class="header">
                                <img src="{{getImage(null, m.from)}}">
                    			<strong class="primary-font">{{getUserWithId(m.from).username}}</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{timeSince(m.sent_ts)}}</small>
                    		</div>
                    		<p *ngIf="m.message_type == 'string'">
                    			{{m.text}}
                    		</p>
                            <div *ngIf="m.message_type == 'image'">
                                <a target="_blank" href="{{getImage(m.file_path)}}">
                                    <img  src="{{getImage(m.file_path)}}" style="border-radius: 0; width: 300px; height: auto;">
                                    <p>{{m.file_name}}</p>
                                </a>
                            </div>
                            <div *ngIf="m.message_type == 'video'">
                                <a target="_blank" href="{{getImage(m.file_path)}}">
                                    <video width="320" height="240" controls *ngIf="renderVideo(m.file_path)">
                                      <source src="{{getImage(m.file_path)}}" type="{{videoFormat(m.file_path)}}">
                                      Your browser does not support the video tag.
                                    </video>

                                    <i class="fa fa-video-camera" style="font-size: 100px;" *ngIf="renderVideo(m.file_path) == false"></i>

                                    <p>{{m.file_name}}</p>
                                </a>
                            </div>
                            <div *ngIf="m.message_type == 'audio'">
                                <a target="_blank" href="{{getImage(m.file_path)}}">
                                    <i class="fa fa-audio-o" style="font-size: 100px;"></i>
                                    <p>{{m.file_name}}</p>
                                </a>
                            </div>
                            <div *ngIf="m.message_type == 'document'">
                                <a target="_blank" href="{{getImage(m.file_path)}}">
                                    <i class="fa fa-file-text-o" style="font-size: 100px;"></i>
                                    <p>{{m.file_name}}</p>
                                </a>
                            </div>
                            
                            <div class="delivery pull-right" *ngIf="isDelivered(m)">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <i class="fa fa-check" aria-hidden="true" *ngIf="isRead(m)"></i>
                            </div>
                    	</div>
                    </li>
                    <li *ngFor="let m of upload_rooms[selected_room] | values" class="{{getDirection(m)}} clearfix">
                        <div class="chat-body clearfix"  *ngIf="m.text">
                            <div class="header">
                                <strong class="primary-font">{{getUserWithId(m.from).username}}</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{m.sent_ts}}</small>
                            </div>
                            <p>
                                {{m.text}}
                            </p>
                            <div class="progress" *ngIf="m.state=='progress'">
                              <div class="progress-bar progress-{{m.progress}}" role="progressbar" aria-valuenow="m.progress" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                <span class="sr-only">{{m.progress}}% Complete</span>
                              </div>
                            </div>
                            <div *ngIf="m.state!='progress'">
                                <span>Upload completed!</span>  
                            </div>
                        </div>
                    </li>

                    <li *ngIf="rooms[selected_room] && rooms[selected_room].typing" class="typing">
                        <span *ngIf="rooms[selected_room].typing.length > 1">
                            <span *ngFor="let u of rooms[selected_room].typing">
                                {{getUserWithId(u).username}} <span *ngIf="isLast(u, rooms[selected_room].typing)">,</span>
                            </span>   
                            are typing ...
                        </span>
                        <span *ngIf="rooms[selected_room].typing.length == 1">
                            {{getUserWithId(rooms[selected_room].typing[0]).username}} is typing...
                        </span>
                    </li>
                </ul>
            </div>        
            <div class="chat-box bg-white">
            	<div class="input-group">
            		<input class="form-control border no-shadow no-rounded" placeholder="Type your message here" (keypress)="startTyping($event)" [(ngModel)]="message.text">

                    <span class="input-group-btn">
                        <div style="display: inline-block;width: 10px;height: 5px;">
                            
                        </div>
                        <div class="btn btn-success no-rounded file-upload-bton">
                            <input type="file" name="files" id="files-upload-image" multiple accept=".bmp,.jpg,.png,.gif,.jpeg,.tiff" (change)="submit('files-upload-image')">
                            <i class="fa fa-file-image-o"></i>
                        </div>
                        <div class="btn btn-success no-rounded file-upload-bton">
                            <input type="file" name="files" id="files-upload-video" multiple accept=".mp4,.flv,.mkv,.3gp,.ogv,.mpg,.wmv,.avi,.3gp" (change)="submit('files-upload-video')">
                            <i class="fa fa-file-video-o"></i>
                        </div>
                        <div class="btn btn-success no-rounded file-upload-bton">
                            <input type="file" name="files" id="files-upload-audio" multiple accept=".mp3,.wav,.aac,.amr,.ogg,.oga,.mogg,.m4b" (change)="submit('files-upload-audio')">
                            <i class="fa fa-file-audio-o"></i>
                        </div>
                        <div class="btn btn-success no-rounded file-upload-bton">
                            <input type="file" name="files" id="files-upload-text" multiple accept=".txt,.doc,.docx,.ppt,.pptx,.pdf,.rtf,.xls,.xlsx" (change)="submit('files-upload-text')">
                            <i class="fa fa-file-text-o"></i>
                        </div>
            			<button class="btn btn-success no-rounded" type="button" (click)="sendMessage()">Send</button>
            		</span>
            	</div><!-- /input-group -->	
            </div>    
		</div>    
	   
	</div>

    <div class="modal fade in {{getShowPrepareGroup()}}" id="newGroup" role="dialog">
        <div class="container">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content" style="width: 50%;margin: auto;">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" style="background-color: #fff;color: #EA7D1F;">×</button>
                  <h4 class="modal-title">Create group</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" *ngIf="new_group.error != ''">{{new_group.error}}</div>
                    <input type="text" name="name" class="form-control" placeholder="Group name" [(ngModel)]="new_group.title" (click)='removeNewGroupError()' >

                    <ul class="friend-list">
                        <li *ngFor="let u of users | values" class="bounceInDown {{getNewGroupUser(u.id)}}" (click)="addUserToNewGroup(u.id)">
                            <a class="clearfix">
                                <div class="friend-name">   
                                    <img src="{{getImage(u.photo)}}">
                                    <strong>{{u.username}}</strong>
                                </div>
                                <small class="time text-muted"><span class="status-bullet {{u.status}}"></span></small>
                            </a>
                        </li>                              
                    </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="createGroup()">Create</button>  
                  <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="hidePrepareGroup()">Cancel</button>
                </div>
              </div>
              
            </div>
        </div>
    </div>

    <div class="modal fade in {{showAddUserInRoom()}}" id="newGroup2" role="dialog" *ngIf="edit_room">
        <div class="container">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content" style="width: 50%;margin: auto;">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" style="background-color: #fff;color: #EA7D1F;">×</button>
                  <h4 class="modal-title">Room: {{edit_room.title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" *ngIf="new_group.error != ''">{{new_group.error}}</div>

                    <ul class="friend-list">
                        <li *ngFor="let u of users | values" class="bounceInDown {{selectedUserEditRoom(u.id)}}" (click)="editRoomAdd(u.id)">
                            <a class="clearfix">
                                <div class="friend-name">   
                                    <img src="{{getImage(u.photo)}}">
                                    <strong>{{u.username}}</strong>
                                </div>
                                <small class="time text-muted"><span class="status-bullet {{u.status}}"></span></small>
                            </a>
                        </li>                              
                    </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="editGroup()">Save</button>  
                  <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="hideAddUserInRoom()">Cancel</button>
                </div>
              </div>
              
            </div>
        </div>
    </div>
</div>
