
body {
  padding-top: 0;
  font-size: 12px;
  color: #777;
  background: #f9f9f9;
  font-family: 'Open Sans',sans-serif;
  margin-top:20px;
}

.bg-white {
  background-color: #fff;
}

.friend-list {
  list-style: none;
margin-left: -40px;
}

.friend-list li {
  border-bottom: 1px solid #eee;
}

.friend-list li a img {
  float: left;
      max-width: 50px;
    max-height: 50px;

  margin-right: 10px;
}

 .friend-list li a {
  position: relative;
  display: block;
  padding: 10px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.friend-list li.active a {
  background-color: #f1f5fc;
}

.friend-list li a .friend-name, 
.friend-list li a .friend-name:hover {
  color: #777;
}

.friend-list li a .last-message {
  width: 65%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.friend-list li a .time {
  position: absolute;
  top: 10px;
  right: 8px;
}

small, .small {
  font-size: 85%;
}

.friend-list li a .chat-alert {
  position: absolute;
  right: 8px;
  top: 27px;
  font-size: 10px;
  padding: 3px 5px;
}

.chat-message {
  padding: 10px 5px 100px;
}

.chat {
    list-style: none;
    margin: 0;
}

.chat-message{
    background: #fff;  
}

.chat li img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

img {
  max-width: 100%;
}

.chat-body {
  padding-bottom: 20px;
}

.chat li.left .chat-body {
  margin-left: 70px;
  background-color: #f9f9f9;
}

.chat li .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.chat li .chat-body .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f9f9f9;
}

.chat li .chat-body p {
  margin: 0;
}

.chat li.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  border-top: 1px solid #EA7D1F;
  border-left: 1px solid #EA7D1F;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat li.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -8px;
  display: inline-block;
  background: #fff;
  border-top: 1px solid #f9f9f9;
  border-right: 1px solid #f9f9f9;
  content: '';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat li * {
  color: black;
}
.chat li {
  margin: 15px 0;
}

.chat li.right .chat-body {
  margin-right: 70px;
  background-color: #f9f9f9;
}

.chat-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  border-top: 1px solid #eee;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.primary-font {
  color: #3c8dbc;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}

.content-wrapper {
  height: 90vh;
  position: relative;
}

.modal-dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  height: 100%;
}
#newGroup2 li.selected,
#newGroup li.selected {
  background-color: #d4d4d4;
}
.progress-0 { width: 0% !important; }.progress-1 { width: 1% !important; }.progress-2 { width: 2% !important; }.progress-3 { width: 3% !important; }.progress-4 { width: 4% !important; }.progress-5 { width: 5% !important; }.progress-6 { width: 6% !important; }.progress-7 { width: 7% !important; }.progress-8 { width: 8% !important; }.progress-9 { width: 9% !important; }.progress-10 { width: 10% !important; }.progress-11 { width: 11% !important; }.progress-12 { width: 12% !important; }.progress-13 { width: 13% !important; }.progress-14 { width: 14% !important; }.progress-15 { width: 15% !important; }.progress-16 { width: 16% !important; }.progress-17 { width: 17% !important; }.progress-18 { width: 18% !important; }.progress-19 { width: 19% !important; }.progress-20 { width: 20% !important; }.progress-21 { width: 21% !important; }.progress-22 { width: 22% !important; }.progress-23 { width: 23% !important; }.progress-24 { width: 24% !important; }.progress-25 { width: 25% !important; }.progress-26 { width: 26% !important; }.progress-27 { width: 27% !important; }.progress-28 { width: 28% !important; }.progress-29 { width: 29% !important; }.progress-30 { width: 30% !important; }.progress-31 { width: 31% !important; }.progress-32 { width: 32% !important; }.progress-33 { width: 33% !important; }.progress-34 { width: 34% !important; }.progress-35 { width: 35% !important; }.progress-36 { width: 36% !important; }.progress-37 { width: 37% !important; }.progress-38 { width: 38% !important; }.progress-39 { width: 39% !important; }.progress-40 { width: 40% !important; }.progress-41 { width: 41% !important; }.progress-42 { width: 42% !important; }.progress-43 { width: 43% !important; }.progress-44 { width: 44% !important; }.progress-45 { width: 45% !important; }.progress-46 { width: 46% !important; }.progress-47 { width: 47% !important; }.progress-48 { width: 48% !important; }.progress-49 { width: 49% !important; }.progress-50 { width: 50% !important; }.progress-51 { width: 51% !important; }.progress-52 { width: 52% !important; }.progress-53 { width: 53% !important; }.progress-54 { width: 54% !important; }.progress-55 { width: 55% !important; }.progress-56 { width: 56% !important; }.progress-57 { width: 57% !important; }.progress-58 { width: 58% !important; }.progress-59 { width: 59% !important; }.progress-60 { width: 60% !important; }.progress-61 { width: 61% !important; }.progress-62 { width: 62% !important; }.progress-63 { width: 63% !important; }.progress-64 { width: 64% !important; }.progress-65 { width: 65% !important; }.progress-66 { width: 66% !important; }.progress-67 { width: 67% !important; }.progress-68 { width: 68% !important; }.progress-69 { width: 69% !important; }.progress-70 { width: 70% !important; }.progress-71 { width: 71% !important; }.progress-72 { width: 72% !important; }.progress-73 { width: 73% !important; }.progress-74 { width: 74% !important; }.progress-75 { width: 75% !important; }.progress-76 { width: 76% !important; }.progress-77 { width: 77% !important; }.progress-78 { width: 78% !important; }.progress-79 { width: 79% !important; }.progress-80 { width: 80% !important; }.progress-81 { width: 81% !important; }.progress-82 { width: 82% !important; }.progress-83 { width: 83% !important; }.progress-84 { width: 84% !important; }.progress-85 { width: 85% !important; }.progress-86 { width: 86% !important; }.progress-87 { width: 87% !important; }.progress-88 { width: 88% !important; }.progress-89 { width: 89% !important; }.progress-90 { width: 90% !important; }.progress-91 { width: 91% !important; }.progress-92 { width: 92% !important; }.progress-93 { width: 93% !important; }.progress-94 { width: 94% !important; }.progress-95 { width: 95% !important; }.progress-96 { width: 96% !important; }.progress-97 { width: 97% !important; }.progress-98 { width: 98% !important; }.progress-99 { width: 99% !important; }.progress-100 { width: 100% !important; }

.file-upload-bton:active,
.file-upload-bton {
  position: relative;
    height: 34px;
    margin-right: 0px;
    margin-left: -10px !important;
    background: transparent;
    color: orange;
    border: none;
}
.file-upload-bton .fa {
  font-size: 20px;
  cursor: pointer;
}
#files-upload-text,
#files-upload-audio,
#files-upload-video,
#files-upload-image {
      position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

.friend-list li {
  cursor: pointer;
}
.chat {
  overflow-y: auto;
}
.status-bullet {
  width: 10px;
    height: 10px;
    border-radius: 50%;
    /* display: block; */
    /* margin-top: 15px; */
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
}
.status-bullet.connected {
  background-color: lightgreen;
}
.status-bullet.disconnected {
  background-color: red
}

.friend-name strong {
  display: block;
  padding-top: 10px;
}
.friend-name * {
  color: #EA7D1F;
}
input {
  border-color: #EA7D1F;
}
button:hover,
button {
  border-color: #EA7D1F;
  background-color: #EA7D1F;
  color: #fff
}
.typing span {
  color: #EA7D1F !important;
}
.unread_messages {
  margin-left: 70px;
    position: absolute;
    right: 20px;
    font-size: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 15px;
}

li .actions {
  display: none;
}
li:hover .actions {
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 34px;
  margin: auto;
  overflow: hidden;
}
