<div class="container" *ngIf="authService.authenticated">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">
        Logo here
      </a>
    </div>
   <!--  <ul class="nav navbar-nav">
      <li>
        <a routerLink="/chat" routerLinkActive="active">Chat</a>
      </li>
    </ul> -->
    <div class="center-notification">
      Welcome, <strong>{{authService.userProfile.username}}</strong>!
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a *ngIf="!authService.authenticated" (click)="authService.login()">Log In</a>
      </li>
      <li>
        <a (click)="authService.logout()" *ngIf="authService.authenticated">Log Out</a>
      </li>
    </ul>
  </nav>
  <div class="col-sm-12">
    
  </div>
</div>

<router-outlet></router-outlet>