.navbar-right { margin-right: 0px !important}

.theme-color-bg {
	background-color: #EA7D1F !important;
}
.theme-color-border {
	border-color: #EA7D1F !important;
}
.navbar-default {
	background: #EA7D1F;
	border-color: #EA7D1F;
}
.navbar-default a:hover,
.navbar-default a {
	color: #fff;
	cursor: pointer;
}
.center-notification {
    position: absolute;
    max-width: 200px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 15px;
    color: #fff;
    text-align: center;
}