<div class="container">
	<br><br><br><br><br>
        <div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a class="{{tab == 'login' ? 'active' : ''}}" (click)="onTabClick('login')">Login</a>
							</div>
							<div class="col-xs-6">
								<a class="{{tab == 'register' ? 'active' : ''}}" (click)="onTabClick('register')">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="alert alert-danger" *ngIf="error">{{error}}</div>
								<form *ngIf="tab=='login'" id="login-form" action="http://phpoll.com/login/process" method="post" role="form">
									<div class="form-group">
										<input type="email" tabindex="1" class="form-control" placeholder="Email Address" value="" [(ngModel)]="email" name="email">
									</div>
									<div class="form-group">
										<input type="password" tabindex="2" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
									</div>
							
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="button" tabindex="4" class="form-control btn btn-login theme-color-border theme-color-bg" value="Log In" (click)="login()">
											</div>
										</div>
									</div>
								</form>
								<form *ngIf="tab=='register'" id="register-form" action="http://phpoll.com/register/process" method="post" role="form">
									<div class="form-group">
										<input type="text" tabindex="1" class="form-control" placeholder="Name" value="" [(ngModel)]="username" name="username">
									</div>
									<div class="form-group">
										<input type="email" tabindex="1" class="form-control" placeholder="Email Address" value="" [(ngModel)]="email" name="email">
									</div>
									<div class="form-group">
										<input type="file" tabindex="1" class="form-control" placeholder="Profile photo" value="" (change)="fileChange($event)" name="photo">
									</div>
									<div class="form-group">
										<input type="password" tabindex="2" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
									</div>
									<div class="form-group">
										<input type="password" tabindex="2" class="form-control" placeholder="Confirm Password" [(ngModel)]="confirm_password" name="confirm_password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="button" id="register-submit" tabindex="4" class="form-control btn btn-register theme-color-border theme-color-bg" value="Register Now" (click)="register()">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>